<!DOCTYPE html>
<html>
<head>
  <meat charset="utf-8">
    <title>Some websites</title>
  </head>
  <body>
  <h1>'We 'll right back'</h1>
  <p>
    the site is currently beign updated.
  </p>
  </body>
  </html>
